name: Release Ruby

on:
  push:
    branches:
      - release/*

jobs:
  publish-rubygem:
    name: Publish Ruby Gem
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.8'
          bundler-cache: true
          working-directory: ruby
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: 'npm'
          cache-dependency-path: devkit/package-lock.json
      - name: Copy the samples to ruby/features
        run: npm ci && npm run copy-to:ruby
        working-directory: devkit
      - uses: cucumber/action-publish-rubygem@d8918cbdee789cfc78f346a96a59596b87795be1 # v1.0.0
        with:
          working_directory: ruby
          rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
