name: Release Python

on:
  push:
    branches: [release/*]

jobs:
  publish-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
          python-version: "3.14"
          version: "0.10.0"

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: "npm"
          cache-dependency-path: devkit/package-lock.json

      - name: Copy the samples to the package
        run: npm ci && npm run copy-to:python
        working-directory: devkit

      - name: Build package
        working-directory: python
        run: uv build

      - name: Publish package
        working-directory: python
        run: uv publish
