name: Release ruby gem

on:
  push:
    branches:
      - release/*

  pull_request:
    branches:
      - main

jobs:
  pre-release-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo "precheck"
    # uses: cucumber/.github/.github/workflows/prerelease-checks.yml@main

  test-ruby:
    uses: ./.github/workflows/test-ruby.yml

  publish-rubygem:
    name: Publish Ruby Gem
    needs: [pre-release-check, test-ruby]
    runs-on: ubuntu-latest
    # environment: Release

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true
          working-directory: ruby

      - uses: actions/setup-node@v3
        with:
          cache: "npm"
          cache-dependency-path: devkit/package-lock.json

      - name: Copy the samples to ruby/features
        run: npm ci && npm run copy-to:ruby
        working-directory: devkit

      - run: ls -l ruby/features/**

      # - name: Publish ruby gem
      #   uses: cucumber/action-publish-rubygem@v1.0.0
      #   with:
      #     working_directory: ruby
      #     rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
