name: Release Ruby

on:
  push:
    branches:
      - release/*

jobs:
  publish-rubygem:
    name: Publish Ruby Gem
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
          working-directory: ruby
      - uses: actions/setup-node@v5
        with:
          cache: 'npm'
          cache-dependency-path: devkit/package-lock.json
      - name: Copy the samples to ruby/features
        run: npm ci && npm run copy-to:ruby
        working-directory: devkit
      - uses: cucumber/action-publish-rubygem@v1.0.0
        with:
          working_directory: ruby
          rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
