name: Release on GitHub

on:
  push:
    branches:
      - release/*

jobs:
  create-github-release:
    name: Create Git tag and GitHub Release
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: cucumber/action-create-github-release@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
