name: test-dotnet

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - dotnet/**
      - devkit/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - dotnet/**
      - devkit/**
      - .github/**

jobs:
  test-dotnet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '10.0.x'
      
      # Pack the Cucumber.CCK project first
      - name: Pack Cucumber.CCK
        run: dotnet pack -c Release
        working-directory: dotnet/Cucumber.CCK
      
      # Now run tests which will use the locally packed package
      - name: Run tests
        run: dotnet test -c Release
        working-directory: dotnet
