name: Test Devkit

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - devkit/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - devkit/**
      - .github/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24.x'
          cache: 'npm'
          cache-dependency-path: devkit/package-lock.json
      - run: npm install-ci-test
        working-directory: devkit
