name: Test Java

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - java/**
      - devkit/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - java/**
      - devkit/**
      - .github/**

jobs:
  test-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: "npm"
          cache-dependency-path: devkit/package-lock.json
      - name: Copy the samples to java/../features
        run: npm ci && npm run copy-to:java
        working-directory: devkit
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - run: mvn verify
        working-directory: java
