name: Test Devkit

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - devkit/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - devkit/**
      - .github/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.x'
          cache: 'npm'
          cache-dependency-path: devkit/package-lock.json
      - run: npm install-ci-test
        working-directory: devkit
