name: Test ruby

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  test-ruby:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: ['2.6', '2.7', '3.0', '3.1']

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          working-directory: ruby

      - uses: actions/setup-node@v3
        with:
          cache: "npm"
          cache-dependency-path: devkit/package-lock.json

      - name: Copy the samples to ruby/features
        run: npm ci && npm run copy-to:ruby
        working-directory: devkit

      - name: Run tests
        run: bundle exec rake
        working-directory: ruby
