name: Test Ruby

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - ruby/**
      - devkit/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - ruby/**
      - devkit/**
      - .github/** 

jobs:
  test-ruby:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: ['3.1', '3.2', '3.3', '3.4', '3.5']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: latest
          working-directory: ruby
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.x'
          cache: 'npm'
          cache-dependency-path: devkit/package-lock.json
      - name: Copy the samples to ruby/features
        run: npm ci && npm run copy-to:ruby
        working-directory: devkit
      - name: Run tests
        run: bundle exec rspec
        working-directory: ruby
